.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

data/raw/*
data/processed/*
data/outputs/*
data/bandai/*
data/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/outputs/.gitkeep

models/*
!models/gunpla_yolo11n_seg.pt
!models/.gitkeep

notebooks/.ipynb_checkpoints/
/*.pt
*.onnx
*.engine
runs/
models/runs/

.env
.vscode/
.DS_Store
Thumbs.db
